.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-flow: column nowrap;
}

.container h4,
.container h5 {
  margin: 0;
}

.socials {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  color: var(--text-bright);
}

.collab {
  font-size: x-large;
}
