.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttonContainer > button {
  border: none;
  padding: 0 1rem;
  font-size: 2rem;
  background-color: transparent;
  color: var(--text-bright);
  transition: all 300ms ease-in-out;
}

.buttonContainer > button:hover,
.buttonContainer > button:focus-visible {
  color: var(--primary);
}

@media (max-width: 800px) {
  .buttonContainer > button {
    font-size: 2em;
  }
}
