.footer {
  display: flex;
  padding: 2rem 0;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
