.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.imageContainer {
  width: 100%;
  position: relative;
  height: 100%;
}

.downloadButton {
  font-size: 1.8rem;
  font-family: var(--orbitron-font);
  width: fit-content;
}

@media (max-width: 800px) {
  .imageContainer {
    height: 100vh;
  }
}
