.navList {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 3rem;
  transition: all 400ms ease-in-out;

  flex: 1;
}

.menuButton {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid var(--border-color);
  font-size: 1.2rem;
  padding: 0.5rem;
  display: none;
  background-color: var(--bg-color);
  color: var(--text-bright);
  font-family: var(--orbitron-font);
}

@media (max-width: 800px) {
  .navList > a {
    transition: all 400ms ease-in-out;
    height: 50px;
  }

  .activeMenu {
    transform: translateY(0);
    height: 391px;
  }

  .inactiveMenu {
    transform: translateY(-492px);
    height: 0px;
    gap: 0.66rem;
  }

  .inactiveMenu > a {
    height: 0;
  }

  .navList {
    width: min-content;
    margin: auto;
  }

  .menuButton {
    display: inline;
    transition: all 400ms ease-in-out;
    width: min-content;
  }

  .activeButton {
    position: relative;
    bottom: 0;
    margin-bottom: 1rem;
  }

  .inactiveButton {
    position: absolute;
    bottom: -500px;
    margin-bottom: 0;
  }
}
