.container {
  font-size: 2rem;
  color: var(--text-bright);
  background-color: var(--bg-color);
  font-family: var(--orbitron-font);
  text-align: center;
  padding: 1rem;
  border: 4px solid var(--border-color);
}

.container:hover,
.container:focus-visible {
  background-color: var(--bg-color-dark);
}
