.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  height: 1px;
  min-height: 90%;
  justify-content: space-between;
  overflow-y: scroll;
  gap: 1rem;
}

.proseTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.proseTitle > * {
  margin: 0;
}

.proseTitle > div > * {
  margin: 0;
}

.proseTitle > div {
  display: flex;
  gap: 2rem;
}

.prose {
  font-size: 1.2rem;
  flex: 1;
  text-align: left;
}

.centered {
  text-align: center;
  font-size: larger;
}

.collabArt {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    min-height: calc(100% - 4rem);
    padding: 0;
  }

  .proseTitle > div {
    flex-direction: column;
    gap: 0.5rem;
  }
}
